.container {
  background-color: #2D2E50;
  margin: 1em;
  color: white;
  padding: .5em;
  border-radius: 10px;
  transition: all 3s ease-in-out;
}

.prompts_grid {
  display: flex;
  direction: row;
}

.edit-button {
  border-radius: .5em;
  border: none;
  padding: .2em .7em;
  transition: all 0.7s ease-in-out;
}

.edit-button:hover {
  border-radius: 2em;
}

.name {
  color:white;
  
}

.description {
  color:white;
}

.prompts {
  color:white;

}
