.container {
  text-align: center;
  background-color: black;
  height: 100vh;
}

.header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.links {
  padding: .5em;
  cursor: pointer;
  font-family: monospace;
  text-decoration: none;
  font-size: 1em;
  color: magenta;
  transition: color 1s, font-size .5s, background-color .7s, border-color 1s ease-in-out;
}

.links:hover {
}

.home-button-container {
  padding-bottom:   em;
}

.home-button {
  font-size: 4em;
  padding: 1em;
  padding: 1em;
  text-decoration: none;
  color: cyan;
}

.auth-container {
  margin-top: 5em;
}

.auth-button {
  cursor: pointer;
  background-color: transparent;
  color: white;
  font-size: 1em;
  padding: .5em;
  border: none;
  transition: color 5s, ease-in-out;
}

.auth-button:hover {
  color: green;

}
